include choice

mixin player(gameId, gameState, playerWinnerId, playerId, playerChoice, viewerPlayerId)
  tr(class=playerWinnerId && playerWinnerId === playerid ? 'table-success' : '')
    th(scope='col') ##{playerId}#{viewerPlayerId===playerId ? ' (you)' : ''}
    td
      +choice(playerId, playerChoice, gameId, viewerPlayerId, gameState)
